[Unit]
Description=opensearch-dashboards
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=opensearch-dashboards
PrivateTmp=true

WorkingDirectory={{ opensearch_dashboards_home }}

User={{ opensearch_dashboards_user }}
Group={{ opensearch_dashboards_group }}

Environment=OSD_PATH_CONF={{ opensearch_dashboards_conf_dir }}

ExecStart={{ opensearch_dashboards_home }}/bin/opensearch-dashboards -q

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
